<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Message</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body class="margin-0">
    <div class="home h-screen min-w-full flex justify-center items-center">
        <div class="mensaje w-56 h-32 backdrop-blur-sm flex flex-col justify-center">
            <p class="text-center pb-4"><b>SESION CERRADA</b></p>
            <a href="/" class="flex justify-center"><button class="w-24 h-12 bg-blue-500 hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg px-4 right-0 top-0">Volver a Inicio</button></a>
        </div>
    </div>
</body>
</html>