<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos | Pokemon Blazing!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/firstEvent.css">
</head>
<body>
    <section class="home border-red-500 bg-gray-200 min-h-screen min-w-full flex flex-col items-center justify-center">
        
        <div class="background h-screen w-full">

            <div class="pelea h-[550px]">
                <div class="pokemon1 fixed top-1/4 left-1/4">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png" alt="">
                </div>
                <div class="pokemon2 fixed top-1/4 right-1/4">
                    chau
                </div>
            </div>

            <div class="movimientos-basicos flex h-[10%] bottom-0">
                <button class="boton-pokemon w-full bottom-0 mx-3">Ataque 1</button>
                <button class="boton-pokemon w-full bottom-0 mx-3">Ataque 2</button>
            </div>

        </div>

    </section>
</body>
</html>
