<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos | Pokemon Blazing!</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/firstEvent.css">
</head>
<body>
    <section class="home border-red-500 bg-gray-200 min-h-screen min-w-full flex flex-col items-center justify-center">
        
        <div class="background h-screen w-full">

            <div class="movimientos flex">
                <button class="boton-pokemon bottom-0 ">

            </div>

        </div>

    </section>
</body>
</html>
