<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos | Pokemon Blazing!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/firstEvent.css">
</head>
<body>
    <div class="h-screen min-w-full">
        <div class="home h-screen w-full">

            <div class="pelea h-[550px]">
                <div class="pokemon1 fixed top-2/4 left-1/4 w-40 h-40">
                    <img class="object-cover" src="../images/bulbasaur.png">
                </div>
                <div class="pokemon2 fixed top-1/4 right-1/4">
                    <img class="object-cover" src="../images/squirtle.png">
                </div>
            </div>
    
            <div class="movimientos-basicos flex h-[10%] bottom-0">
                <button class="boton-pokemon w-full bottom-0 mx-3">Ataque 1</button>
                <button class="boton-pokemon w-full bottom-0 mx-3">Ataque 2</button>
            </div>
        </div>
    </div>
</body>
</html>
