<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos | Pokemon Blazing!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/firstEvent.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body>
    <div class="h-screen min-w-full">
        <div class="home h-screen w-full">

            <div class="pelea h-[550px]">
                <div class="pokemon1 fixed top-2/4 left-1/4 w-40 h-40">
                    <div class="plataforma w-56 h-24 bg-slate-100 absolute rounded-full -z-10 -translate-x-16 translate-y-8 outline"></div>
                    <img class="object-cover" src="../images/bulbasaur.png">
                    <div class="pokemon1 relative w-40 h-16 bg-slate-300 outline">
                        <p class="pt-2 pl-2">Bulbasaur</p>
                        <p class="pl-2">HP: 40</p>
                    </div>
                </div>
                <div class="pokemon2 fixed top-1/4 right-1/4">
                    <div class="plataforma w-40 h-20 bg-slate-100 absolute rounded-full -z-10 -translate-x-8 translate-y-12 outline"></div>
                    <img class="object-cover" src="../images/charmander.png">
                    <div class="pokemon2 relative w-40 h-16 bg-slate-300 outline">
                        <p class="pt-2 pl-2">Charmander</p>
                        <p class="pl-2">HP: 40</p>
                    </div>
                </div>
            </div>
    
            <div class="movimientos-basicos flex h-[10%] bottom-0">
                <form action="/encounter2/ataque1" method="get" class="w-full mx-3">    
                    <button type="input" class="boton-pokemon w-full bottom-0">Ataque 1</button>
                </form>
                <form action="/encounter2/ataque2" method="get" class="w-full mx-3">    
                    <button type="input" class="boton-pokemon w-full bottom-0">Ataque 2</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>