 body {
    margin: 0;
    /* background: linear-gradient(to top, #FF4500, #FF6347, #FFF8DC);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

.boton-pokemon {
    background-color: #FF4500; /* Color de fondo similar al de Arcanine */
    border: none;
    color: #FFF; /* Texto blanco para contrastar con el fondo */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
    border-radius: 8px; /* Esquinas redondeadas */
    font-weight: bold; /* Texto en negrita */
    width: 47%;
    bottom: 0;
}

.boton-pokemon:hover {
    background-color: #FF6347; /* Cambio de color al pasar el mouse sobre el botón */
}
